<div class="theme-light">
  <swiper-container slides-per-view="1" loop="true">
    <swiper-slide>
      <div class="card card-style img-recuperar" style="height:200px;">
        <div class="card-bottom pb-3 px-3">
          <h3 class="color-white mb-1">Esqueceu a senha?</h3>
          <p class="color-white opacity-80 mb-0 mt-n1 font-14">
            Preencha o formulário abaixo
          </p>
        </div>
        <div class="card-overlay bg-gradient-fade"></div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="card card-style img-recuperar" style="height:200px;">
        <div class="card-bottom pb-3 px-3">
          <h3 class="color-white mb-1">Recupere seu acesso</h3>
          <p class="color-white opacity-80 mb-0 mt-n1 font-14">
            Rápido, fácil e seguro.
          </p>
        </div>
        <div class="card-overlay bg-gradient-fade"></div>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="recuperar-card-container">
    <div class="recuperar-card">
      <div class="text-center">
        <h1>Recuperar Senha</h1>
        <p>Depois confira o seu email</p>
      </div>

      <div class="input-group-container">
        <div class="input-wrapper">
          <ion-icon name="at-outline"></ion-icon> 
          <input type="email" placeholder="Endereço de email cadastrado"
          required>
          <span class="required-label">(necessário)</span>
        </div>
      </div>

      <div class="button-group">
        <button class="btn-custom btn-blue">SOLICITAR NOVA SENHA</button>
        <button class="btn-custom btn-green">VOLTAR E ENTRAR</button>
        <button class="btn-custom btn-red">EFETUAR NOVO CADASTRO</button>
      </div>

      <div class="footer-links">
        <a href="#">Termos e Privacidade</a>
      </div>
    </div>
  </div>

  <div class="footer-bar-detached">
    <a href="#"><ion-icon name="globe-outline"></ion-icon> <span>Site</span></a>
    <a href="#"><ion-icon name="logo-facebook"></ion-icon> <span>Facebook</span></a>
    <a href="#"><ion-icon name="logo-youtube"></ion-icon> <span>Youtube</span></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon> <span>Instagram</span></a>
    <a href="#"><ion-icon name="mail-outline"></ion-icon> <span>E-mail</span></a>
  </div>
</div>